
.container{
	width:90%;
	margin:0 auto;
	padding-bottom: 10px;
}

h1,h4{
	text-align: center;
}

textarea{ 
	border: 0; 
	font: 14px Georgia, Serif; 
	overflow: hidden;
	 resize: none;
	  }

.descriptions{
	width:90%;
	margin:0 auto;
	border:1px solid black;
	padding-bottom: 20px;
}

.values{
	border:1px solid black;
}

.details{
	
	width:90%;
	margin:0 auto;
}
.left{
	padding-left: 20px;
}
.left textarea {
    height: 100px;
    margin-left: 17px;
}
.right{
	padding-left: 299px;
}
.right textarea{
	height:17px;
	padding:0;
}
#desc textarea{
width:90%;
padding-top: 0px;
    padding-bottom: 1px;
    height:100px;
}
.descriptions td{
	margin-bottom: 15px;
	font-size: 21px;
}
.t2 textarea{
	height:18px;
	width:45px;
	font-size: 14px;
	
}
.qty textarea{
	width:72px;
	text-align: right;
}

.t3 textarea{
	height:18px;
	font-size: 15px;
	font-weight: bold;
}

button{
	height:20px;

}

#addrow{
	font-size: 12px;
}
