#headers{
	text-align: center;
	padding-bottom: 10px;
}

p{
	text-align: left;
    width: 190px;
    float:left;
    margin-right: 10px;
    font-family: "Courier";
    font-size: 12px;
    font-weight: bold;
    min-height: 350px;	
	}

.title{

	font-weight:bold;
	font-size:14px;
	width: 126px; 
    font-family: "TimesNewRoman", Times, serif;
	
}

.news{
	padding-left: 20px;
	padding-right: 20px;
	width:66%;
	margin:0 auto;
}

#currentNews{
	border:1px solid black;
	box-shadow: 1px 5px 15px 5px;
	padding: 5px 5px 5px 10px;
    background-color: rgba(78, 78, 75, 0.06);
    
}